/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title Styles */
.title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Subtitle Styles */
.subtitle {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Content Styles */
.content {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 800px;
}

/* Introduction Page Styles */
.intro-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Button Styles */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-button {
    width: 300px;
    padding: 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #d0d0d0;
}

/* Investment Page Styles */
.investment-logo {
    width: 50%;
    height: auto;
}

.rect-container {
    margin-top: 20px;
}

.rect-text {
    font-size: 2.5em;
    font-weight: bold;
}

/* Research Page Styles */
.research-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.data-box {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: #6b8f71;
    padding: 20px;
    border-radius: 10px;
}

.data-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
}

.data-column.left, .data-column.right {
    width: 25%;
}

.data-column.center {
    width: 50%;
}

.data-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
}

.data-main {
    font-size: 2em;
    font-weight: bold;
}

.arrow-down {
    margin: 20px 0;
    font-size: 2em;
    color: #000;
}

.standard-text {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

/* Vision Page Styles */
.vision-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

.vision-title {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.vision-text {
    font-size: 4.5em;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
}

/* Team Page Styles */
.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.team-member {
    text-align: center;
}

.qr-code {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}
